      @font-face {
        font-family: 'KodoMono';
        src: url('fonts/KodeMono.ttf') format('truetype');
      }

      body {
        margin: 0;
        font-family: 'KodoMono';
        background-color: #fdedda;
      }

      .grid-container {
        display: grid;
        grid-template-columns: repeat(40, 1fr);
        grid-auto-rows: min-content;
        margin-top: 40px;
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        row-gap: 0;
      }

      .welcome-section {
        height: 100vh;
        padding-top: 40px;
        background: linear-gradient(to bottom, #ace8ef, #598bcd);
      }

      .welcome-box {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        background-color: #fdedda;
        border: 10px solid #f0b1ab;
        padding: 40px;
        text-align: center;
        border-radius: 3px;
      }

      .welcome-box h1 {
        font-size: 3em;
        margin: 0;
        color: #792d5e;
      }

      .welcome-box p {
        margin-top: 10px;
        font-size: 1em;
        color: #555;
      }
    
      button.exp-button{
        background-color: #6E2C58;
        color: #FDEDDA;
        font-family: 'KodoMono';
        margin-bottom: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;

      }

      button.exp-button:hover{
        background-color: #f0b1ab;
        color: #792d5e;
        font-family: 'KodoMono';
        margin-bottom: 4px;
        cursor: pointer;
      }
      
      button.gridbutton:hover {
        background-color: #e39a6f;
      }

      button.gridbutton:active {
        background-color: #d88450;
      }
      
      .popup {
        width: 400px;
        height: 600px;
        background-color: #f0b1ab;
        border: 2px solid #6E2C58;
        border-radius: 8px;
        position: absolute;
        z-index: 10;
        display: none;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      .popup-header {
        background-color: #6E2C58;
        color: #fff;
        padding: 10px;
        cursor: move;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .popup-content {
        text-align: center;
        padding: 20px;
      }

      .close-btn {
        cursor: pointer;
        font-size: 20px;
      }

      button.gridbutton {
        padding: 10px 20px;
        margin-top: 10px;
        background-color: #efbe89;
        border: 2px solid #976363;
        border-radius: 5px;
        cursor: pointer;
        font-family: 'KodoMono';
        font-size: 1em;
        width: 100%;
        transition:
          background 0.2s ease-in-out,
          border-bottom-color 0.3s,
          border-radius 0.3s ease;
      }


      /* Button wrapper */
      .button-wrapper {
        position: relative;
        grid-column: 2 / 20;
        display: flex;
        flex-direction: column;
      }


      /* Active button styling */
      .button-wrapper.active .gridbutton {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: #efbe89;
      }

      /* Arrow indicator */
      button.gridbutton.has-dropdown::after {
        font-size: 0.8em;
        margin-left: 5px;
        display: inline-block;
        transition: transform 0.3s;
      }
      
      .Experience-header {
        margin: 3px;
      }
      .flex-div {
        display: block;
      }

      /* Dropdown content */
      .dropdown-content {
        max-height: 0;
        overflow: hidden;
        background-color: #efbe89;
        
        border-radius: 0 0 5px 5px;
        border-top: none;
        
        margin-top: 0;
        margin-bottom: 8px;
        transition: max-height 0.7s ease-out;
      }

      /* Active dropdown */
      .button-wrapper.active .dropdown-content {
        max-height: 1000px;
        opacity: 1;
        
        transition:
          max-height 0.6s ease-in,
          opacity 0.3s ease-in;
      }

      /* Dropdown links */
      .dropdown-content a {
        
        display: flex;
        border-left: 2px solid #976363;
        border-bottom: 2px solid #976363;
        border-right: 2px solid #976363;
        padding: 10px 15px;
        text-decoration: none;
        color: #792d5e;
        font-family: 'KodoMono';
        font-size: 0.9em;
        border-bottom: 1px solid #f0b1ab;
        transition: background-color 0.2s ease;
      }

      .dropdown-content a:last-child {
        border-bottom: none;
      }

      .dropdown-content a:hover {
        background-color: #f0b1ab;
        color: #555;
      }

      .welcome-wrapper :hover {
        cursor: pointer;
        rotate: 30deg;
      }

      /* Grid image */
      .grid-image {
        grid-column: 21 / -1;
        grid-row: 1 / span 20;
        width: 100%;
        height: auto;
        object-fit: cover;
        align-self: start;
      }

      /* Decorative images */
      .star1 {
        position: absolute;
        z-index: 4;
        right: 3vw;
        top: 1vh;
        height: auto;
        width: 15%;
      }

      .star2 {
        position: absolute;
        z-index: 3;
        left: 4vw;
        top: 17vh;
        height: auto;
        width: 14%;
      }

      .ducktaglia {
        position: absolute;
        z-index: 3;
        right: 2vw;
        top: 19vh;
        height: auto;
        width: 28%;
      }

      .ducktaglia-contact {
        position: flex;
        width: 80%;
        height:auto;
      }

      .contact-info {
        display: relative;
      }

      .res-button {
        color:#6E2C58;
        font-family: 'KodoMono';
        font-size: 1em;
        background-color: #FDEDDA;
        width: 37%;
        height: auto;
        border: 2px solid #6E2C58;
        padding: 1%;
        border-radius: 5px;
      }

      .res-wrapper :hover {
        background-color: #efd0bd;
        cursor: pointer;
        border: 2px solid #d1817a;
      }

      .email-button {
        background-color: #efbe89;
        color: #6E2C58;
        padding: 10px 20px;
        text-decoration: none;
        border: 2px solid #6E2C58;
        border-radius: 5px;
        display: inline-block;
      }
      
      .email-wrap :hover {
        color:#efd0bd;
        cursor: pointer;
        box-shadow: 0 2px 2px rgba(92, 40, 6, 0.2);
      }